.casts{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    &-item{
        width: 100px;
        height: 150px;
        overflow: hidden;
        &-image{
            width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: 10px;
        }
        &-name{
            font-size: 14px;
            text-align: center;
        }
    }
}